h2 {
    color: rgb(255, 255, 255);
    font-size: medium;
    text-align: center;
    width: 200px;
    height: 100px;
}
body {
    background-color: rgb(25, 13, 82);
}

.btn_group button {
    font-size: medium;
    background-color: #3b3b3b; /* Green background */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: none; /* Float the buttons side by side */
    border-radius: 4px;
}

.btn_group button:hover {
    background-color: #4d4d4d;
}