
body {
    width: 255px;
    height: 350px;
    margin: 0;
    background-color: #131313;;
}
#url{
    height: 50px; 
    width: 100%;
    position:absolute;
    top:70px; left:0%; right:0%; 
}
#wp{
    position: relative;
    top: 3px;
    width: 10%;
    height: 10%;
    margin-left: 5px;
}
.signup-text-input{
    position:absolute;
    top:25px; left:3%; right:0%; 
    height: 20px; 
    width: 90%;
    border-radius: 6px;
}
.btn_group{
    position: fixed;
    bottom: 0%;
    height: 160px; 
    width: 100%;
}
#report{
    position:absolute;
    top:0px; left:4%; right:0%; 
    font-size: 12pt;
    margin: 0%;
    color: rgba(255, 255, 255, 0.877);
    border-radius: 4px;
}
#send_rep{
    height: 14%;
    width: 14%;
    position:absolute;
    top:26px; right:3%; 
}
.title_top{
    position: fixed;
    top: 0;
    height:45px;
    width: 100%;
    background-color: rgb(123, 128, 128);
}
#test{
    position:absolute;
    top:20%; left:0%; right:28%;  
}
#name {
    color: rgb(0, 0, 0);
    font-size: 16pt;
    text-align: center;
    position:absolute;
    top:20%; left:0%; right:28%;  
    margin: 0;
}

#icon{
    width: 25px;
    height: 25px;
    position:absolute;
    top:25%; left:3%; right:0;
}

#settings{
    width: 20px;
    height: 20px;
    position:absolute;
    top:27%; left:90%; right:0;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}
#settings:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
#blocked{
    position: fixed;
    top: 45%;
    right: 0%;
    height:10%;
    width: 100%;
}
.sum_block{
    color: rgba(255, 255, 255, 0.877);
    text-align: center;
    font-size: 12pt;
    position:fixed;
    top: 120px; left:0%; right:0%;  
}
#sum{
    position: fixed;
    top: 60%;
    right: 0%;
    height:10%;
    width: 100%;
}
.sum_url{
    color: rgba(255, 255, 255, 0.877);
    text-align: center;
    font-size: 14pt;
    position:fixed;
    top: 90px; left:0%; right:0%;  
}
.cur_url{
    color: rgba(255, 255, 255, 0.877);
    text-align: center;
    font-size: 15pt;
    position:fixed;
    top: 40px; left:2%; right:0%;  
}
.btn_group button {
    font-size: medium;
    background-color: #535353e0; /* Green background */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */    
}

#btn_black{
    position:absolute;
    top:69%; left:3%; right:0;
    border-radius: 6px;
    height:40px;
    width:94%;
}
#btn_black:hover {
    background-color: #c23737d0;
}
#btn_white{
    position:absolute;
    top:40%; left:3%; right:0;
    border-radius: 6px;
    height:40px;
    width:94%;
}
#btn_white:hover {
    background-color: #2aad2a8e;
}
